{{ form_start(editSerieForm) }}
    {{ form_widget(editSerieForm) }}
    <button class="btn button bg-blue-500 hover:bg-blue-600">{{ button_label|default('Save') }}</button>
{{ form_end(editSerieForm) }}
