{% extends 'base.html.twig' %}
{% block title %}Edit password{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center lg:w-100 min-h-[75vh] text-[#5b5555] dark:text-slate-100">
        <h1 class="mb-5 lg:text-3xl titleMd">
            Password change request
        </h1>
        {{ form_start(passForm,{
            'attr': { 'class' : 'form'}
        }) }}

        {{ form_row(passForm.password.first,{
            'attr': {'class' : 'registration'},
            label: 'New password',
            invalid_message: 'lol',
        }) }}

        {{ form_row(passForm.password.second,{
            'attr': {'class' : 'registration'},
            label: 'Repeat password'
        }) }}

        <div class="flex justify-center">
            <button type="submit" class="buttonLg blue">Change</button>
        </div>
        {{ form_end(passForm)}}
    </div>
{% endblock %}